body {
  overflow-x: hidden;
}
p, h2 {
  margin: 0;
}
/* ----------- HEADER ----------- */
.contact_bar {
  width: 100%;
  height: 40px;
  background-color: #005c50;
  color: white;
}
.banniere {
  background-image: url('../img/fond_barre.jpg');
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banniere h1 {
  text-align: center;
  line-height: 200px;
  color: white;
}
nav {
  height: 80px;
}
nav ul {
  text-align: center;
  line-height: 80px;
}
nav ul li {
  list-style: none;
  display :inline-block;
}
/* ----------- FIN HEADER ----------- */
/* ----------- CARROUSEL ----------- */
#carrousel {
  margin: auto;
  width: 100%;
  height: 380px;
  overflow: hidden;
  display: inline-block;
}
#carrousel ul, #carrousel2 ul {
  width: 200%;
  height: 100%;
  padding:0;
  list-style: none;
}
#carrousel li, #carrousel2 li {
  border: 1px solid black;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  display: inline-block;
  float: left;
}
#carrousel li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ----------- FIN CARROUSEL ----------- */
/* ----------- CARTE ARTICLES ----------- */
.card_article {
  border: 1px solid #cc50508f;
  height: 430px;
  margin: 1%;
}
.card_article_img {
  width: 100%;
  height: 70%;
}
.card_article_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card_article_text {
  text-align: center;
}
.btn {
  background-color: #005c50;
  color: white;
}
/* ----------- FIN CARTE ARTICLES ----------- */
/* ----------- FOOTER ----------- */
footer {
  background-color: #005c50;
  color: white;
  min-height: 70px;
}
/* ----------- FIN FOOTER ----------- */
