@font-face {
    font-family: "Noel";
    src: url("../font/Noel.ttf") format("truetype");
}

body {
    overflow-x: hidden;
}

p,
h2 {
    margin: 0;
}

/* ----------- HEADER ----------- */
.contact_bar {
    width: 100%;
    padding: 0;
    height: 45px;
    background-color: #005c50;
    color: white;
    font-size: 2.1rem;
    position: relative;
}

.contact_bar input {
    height: 37px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 10px;
    font-size: 1.2rem;
}

.contact_bar span:before {
}

i {
    margin-left: 5px;
    color: white;
}

.banniere {
    background-image: url('http://miam-images.m.i.pic.centerblog.net/o/e935fac8.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .banniere img {
    height: 120%;
  }
  .banniere h1 {
    text-align: center;
    line-height: 200px;
    color: white;
  }
  /* nav {
    height: auto;
    height: 80px;
  }
  nav a {
    color: #d43f3f;
    text-align: center;
    line-height: 80px;
    list-style: none;
    font-family: "Noel";
    font-size: 3.5rem;
    display :inline-block;
  }
  .navbarButton{
    background-color: white;
    color: red;
    font-size: 2.5rem;
  } */
  /* ----------- FIN HEADER ----------- */
  /* ----------- CARROUSEL ----------- */
  #carrousel {
    margin: auto;
    width: 100%;
    height: 280px;
    overflow: hidden;
    display: inline-block;
  }
  #carrousel ul, #carrousel2 ul {
    width: 200%;
    height: 100%;
    padding:0;
    list-style: none;
  }
  #carrousel li, #carrousel2 li {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    display: inline-block;
    float: left;
  }
  #carrousel li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* ----------- FIN CARROUSEL ----------- */
  /* ----------- CARTE ARTICLES ----------- */
  .cardBorder {
    border: 2px solid #cc50508f;
    margin: 1%;
    padding: 1%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

.card_article_img {
    width: 100%;
    min-height: 70%;
}

.card_article_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card_article_text {
    text-align: center;
}

.btnCustomAnthony {
    background-color: #005c50;
    color: white;
    margin: auto;
}

#titre_Categorie {
    text-align: center;
    font-family: "Noel";
    font-size: 4rem;
    color: #d43f3f;
}

/* ----------- FIN CARTE ARTICLES ----------- */
/* ----------- FOOTER ----------- */

/* ----------- FIN FOOTER ----------- */
.articleTitle {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.modalPictures {
    height: 30rem;
    width: auto;

}

.button_Command {
  width: 100%;
}
.form_Add_Item {
  text-align: center;
  padding: 10px;
}

.form_Add_Item input {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 5px;
  padding: 10px;
  width: 70%;
}
#visa,
#masterCard,
#americanExpress,
#paypal {
    height: 40px;
    weight: 40%;
    margin-right: 10px;
}

.myBasket {
  position: relative;
}
#nb_Item_Basket {
  width: 22px;
  height: 22px;
  background-color: #005c50;
  border-radius: 30px;
  color: white;
  font-size: 17px;
}
#nb_Item_Basket span {
  position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
      transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.modal-body input[type="number"] {
    width: 70%;
    margin-left: 7px;
    margin: auto;
    display: block;
}

.modal-body,
.modal-body .fas {
    color: black;
    font-size: 1.3rem;
}

#basket_Reference {
    font-size: 16px;
}

#basket_Img {
    margin: 6px;
    width: 100px;
    height: 100px;
    border: 1px solid #beb8b8;
    margin: auto;
}

#basket_Img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#line_Basket {
  padding: 10px;
    border-bottom: 1px solid #beb8b8;
    text-align: center;
}

footer {
    background-color: #005c50;
    color: white;
    height: auto;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    text-align: center;
}

/* Paramétres pour les boutons d'ouverture des modals*/
.modalLegalNotice,
.modalGeneralCondition,
.modalRefund,
.modalDeclarationConfidentiality {
    text-align: center;
    font-family: "Noel";
    font-size: 1.5rem;
    color: white;
    background-color: #d43f3f;
    border-radius: 10px;
    width: auto;
}

/* Paramétres pour la police utilisé dans les modal*/
.policeColorNoel {
    font-family: "Noel";
    color: GoldenRod;
    font-size: 35px;
}

/* ----------- FOOTER ----------- */

.navbarItems {
  color: #d43f3f;
  text-align: center;
  line-height: 2.5rem;
  list-style: none;
  font-family: "Noel";
  font-size: 2.3rem;
  display :inline-block;
}
.navbarItems a{
  color: #d43f3f;
}

.navbarItems a:hover {
  color: GoldenRod;
}

@media screen and (max-width: 768px){
  body .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    background-size: contain;
  }

  #carrousel {
    display: none;
  }
}
