/* body{
  background-color: #D5AE5A;
  text-align: center;
} */
#visa{
  height: 40px;
  weight:40%;
  margin-right: 10px;
}
#masterCard{
  height: 40px;
  weight:40%;
  margin-right: 10px;
}
#americanExpress{
  height: 40px;
  weight:40%;
  margin-right: 10px;
}
#paypal{
  height:40px;
  weight:40%;
  margin-right: 10px;
}
